* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
}

thead {
  background-color: rgb(228, 240, 245);
}

th, td {
  border: 1px solid rgb(160, 160, 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

dialog {
  padding: 20px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

dialog::backdrop{
  backdrop-filter: blur(2px);
}
